<div class="loading-skeleton">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="sk sk-sm"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="sk"></div>
      </div>
      <div class="col-md-4">
        <div class="sk"></div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <div class="sk sk-xl"></div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-6">
        <div class="sk sk-sm"></div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12">
        <table class="table table-responsive-md">
          <thead>
            <tr>
              <th width="100px"><div class="sk sk-sm"></div></th>
              <th width="20%"><div class="sk sk-sm"></div></th>
              <th width="30%"><div class="sk sk-sm"></div></th>
              <th>
                <div class="sk sk-sm"></div>
              </th>
              <th>
                <div class="sk sk-sm"></div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="sk sk-sm"></div>
              </td>
              <td>
                <div class="sk sk-sm"></div>
              </td>
              <td>
                <div class="sk sk-sm"></div>
              </td>
              <td>
                <div class="sk sk-sm"></div>
              </td>
              <td>
                <div class="sk sk-sm"></div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="sk sk-sm"></div>
              </td>
              <td>
                <div class="sk sk-sm"></div>
              </td>
              <td>
                <div class="sk sk-sm"></div>
              </td>
              <td>
                <div class="sk sk-sm"></div>
              </td>
              <td>
                <div class="sk sk-sm"></div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="sk sk-sm"></div>
              </td>
              <td>
                <div class="sk sk-sm"></div>
              </td>
              <td>
                <div class="sk sk-sm"></div>
              </td>
              <td>
                <div class="sk sk-sm"></div>
              </td>
              <td>
                <div class="sk sk-sm"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-3">
        <div class="sk sk-sm"></div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-8">
        <div class="sk sk-sm"></div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-10">
        <div class="sk sk-sm"></div>
      </div>
    </div>
  </div>
</div>
