<div class="container-fluid">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Cadastro de bolsas</a>
      <div class="d-flex w-auto">
        <button class="btn btn-success ms-2" [routerLink]="['cadastro']">
          <i class="fa fa-plus"></i>
          Adicionar
        </button>
      </div>
    </div>
  </nav>

  <div class="table-responsive mt-2">
    <table class="table align-middle mt-3 bg-white">
      <thead class="bg-light">
      <tr>
        <th width="100px">Identificador</th>
        <th width="20%">Nome</th>
        <th width="30%">Descrição</th>
        <th>Edital</th>
        <th>Tipo</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="bolsas$ | async as bolsas; else loading">
        <tr *ngIf="!bolsas.length">
          <td colspan="6" class="text-center">
            Ainda não há bolsas por aqui.
          </td>
        </tr>
        <tr *ngFor="let bolsa of bolsas; let i = index">
          <td>
            <p class="fw-normal mb-1">{{ bolsa.id }}</p>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <p class="fw-bold mb-1">{{ bolsa.nome }}</p>
            </div>
          </td>
          <td style="max-width: 500px" [title]="bolsa.descricao">
            <p class="fw-normal mb-1 text-truncate">{{ bolsa.descricao }}</p>
          </td>
          <td>
            <span
              class="badge rounded-pill d-inline" [ngClass]="bolsa.editalAtivo ? 'badge-success' : 'badge-danger'">
              {{ bolsa.editalAtivo ? "Ativo" : "Inativo" }}
            </span>
          </td>
          <td>{{ getTipoBolsa(bolsa.tipoBolsa) }}</td>
          <td>
            <div class="d-flex">
              <button
                type="button"
                class="btn btn-outline btn-sm btn-rounded btn-primary"
                [routerLink]="['editais', bolsa.id]"
              >
                <i class="fa fa-list"></i>
                Editais
              </button>
              <button
                type="button"
                class="btn btn-outline btn-sm btn-rounded ms-2"
                [routerLink]="['cadastro', bolsa.id]"
              >
                <i class="fa fa-edit"></i>
                Editar
              </button>
            </div>
          </td>
        </tr>
      </ng-container>
      <ng-template #loading>
        <tr>
          <td colspan="6">
            <div class="d-flex align-items-center justify-content-center gap-2">
              <div
                class="spinner-border"
                role="status"
                aria-hidden="true"
              ></div>
              <strong>Carregando...</strong>
            </div>
          </td>
        </tr>
      </ng-template>
      </tbody>
    </table>
  </div>
</div>
