<div class="container-fluid">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Cadastro de funcionários</a>
      <div class="d-flex w-auto">
        <button class="btn btn-success ms-2" [routerLink]="['cadastro']">
          <i class="fa fa-plus"></i>
          Adicionar
        </button>
      </div>
    </div>
  </nav>

  <table class="table align-middle mt-3 bg-white">
    <thead class="bg-light">
      <tr>
        <th width="100px">Identificador</th>
        <th width="20%">Nome</th>
        <th>CPF</th>
        <th>Data de nascimento</th>
        <th>E-mail</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="funcionarios$ | async as funcionarios; else loading">
        <tr *ngIf="!funcionarios.length">
          <td colspan="6" class="text-center">
            Ainda não há funcionarios por aqui.
          </td>
        </tr>
        <tr *ngFor="let funcionario of funcionarios; let i = index">
          <td>
            <p class="fw-normal mb-1">{{ funcionario.id }}</p>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <p class="fw-bold mb-1">{{ funcionario.nome }}</p>
            </div>
          </td>
          <td>
            <p class="fw-normal mb-1">{{ funcionario.cpf | cpfMask }}</p>
          </td>
          <td>
            <p class="fw-normal mb-1">{{ funcionario.dataNascimento | date: 'dd/MM/yyyy'}}</p>
          </td>
          <td>
            <p class="fw-normal mb-1">{{ funcionario.email }}</p>
          </td>
          <td>
            <button type="button" class="btn btn-outline btn-sm btn-rounded"
              [routerLink]="['cadastro', funcionario.id]">
              <i class="fa fa-edit"></i>
              Editar</button>
          </td>
        </tr>
      </ng-container>
      <ng-template #loading>
        <tr>
          <td colspan="6">
            <div class="d-flex align-items-center justify-content-center gap-2">
              <div class="spinner-border" role="status" aria-hidden="true"></div>
              <strong>Carregando...</strong>
            </div>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>