<div class="card">
    <div class="card-header mt-2">
      <div class="d-flex align-items-center">
        <a class="btn btn-link btn-rounded btn-icon text-black" [routerLink]="['/inscricoes']">
          <i style="font-size: 20px" class="fa fa-arrow-left"></i>
        </a>
        <h4 style="margin: 0">Visualizando inscrição</h4>
      </div>
    </div>
    <app-skeleton *ngIf="isLoading"></app-skeleton>
    <div class="card-body" *ngIf="!isLoading">
        <div class="row">
            <div class="col-md-12 mb-4">
                <h5>Dados do aluno</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="md-outline mb-4">
                    <p><strong>Nome</strong></p>
                    <p>{{inscricaoBolsa.aluno.nome}}</p>
                </div>
            </div>
            <div class="col-md-4">
                <p><strong>CPF</strong></p>
                <p>{{inscricaoBolsa.aluno.cpf | cpfMask}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="md-outline mb-4">
                    <p><strong>Endereço</strong></p>
                    <p>{{getEndereco(inscricaoBolsa)}}</p>
                </div>
            </div>
            <div class="col-md-4">
                <p><strong>Observações do aluno</strong></p>
                <p>{{inscricaoBolsa.observacoes || '---'}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-4">
                <h5>Documentos</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-4" *ngFor="let inscricaoDocumento of inscricaoBolsa.documentos">
                <app-file-card [arquivoId]="inscricaoDocumento.arquivoId"
                               [descricao]="inscricaoDocumento.documento?.nome">

                </app-file-card>
            </div>
        </div>
    </div>
</div>