<div class="card">
  <form #formFuncionario="ngForm" (ngSubmit)="save()">
    <div class="card-header mt-2">
      <div class="d-flex align-items-center">
        <a class="btn btn-link btn-rounded btn-icon text-black" [routerLink]="['/funcionarios']">
          <i style="font-size: 20px" class="fa fa-arrow-left"></i>
        </a>
        <h4 style="margin: 0">{{ isEdit ? "Editando" : "Novo" }} funcionário</h4>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-8">
          <div class="md-outline mb-4">
            <mdb-form-control>
              <input mdbInput class="form-control form-control-lg" type="text" id="nome" name="nome"
                [(ngModel)]="funcionario.nome" />
              <label mdbLabel class="form-label" for="nome">Nome</label>
            </mdb-form-control>
          </div>
        </div>
        <div class="col-md-4">
          <div class="md-outline mb-4">
            <mdb-form-control>
              <input mdbInput class="form-control form-control-lg" type="date" id="dataNascimento" name="dataNascimento"
                [(ngModel)]="funcionario.dataNascimento" />
              <label mdbLabel class="form-label" for="cpf">Data de nascimento</label>
            </mdb-form-control>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="md-outline mb-4">
            <mdb-form-control>
              <input mdbInput class="form-control form-control-lg" type="text" id="cpf" name="cpf"
                [(ngModel)]="funcionario.cpf" />
              <label mdbLabel class="form-label" for="cpf">CPF</label>
            </mdb-form-control>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="md-outline mb-4">
            <mdb-form-control>
              <input mdbInput class="form-control form-control-lg" type="email" id="email" name="email"
                [(ngModel)]="funcionario.email" />
              <label mdbLabel class="form-label" for="email">E-mail</label>
            </mdb-form-control>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-12 d-flex flex-row-reverse align-items-center">
          <button class="btn btn-primary d-flex" type="submit" [disabled]="isSaving">
            <span *ngIf="isSaving" class="spinner-border spinner-border-sm me-2" role="status"
              aria-hidden="true"></span>
            <span>Salvar</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>